<div class="container mt-5 pt-5">
    {{!-- Form Message --}}
    {{#equals status "success"}}
        <div class="form-msg alert alert-success alert-dismissible fade show w-50 mx-auto text-center" role="alert">
            <i class="bi bi-check-circle"></i> User edited successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{else}}
        {{#equals status "error"}}
            <div class="form-msg alert alert-danger alert-dismissible fade show w-50 mx-auto text-center" role="alert">
                <i class="bi bi-exclamation-triangle"></i> Edit error. Please try again.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/equals}}
    {{/equals}}
    <h2 class="title">Edit User</h2>

    {{!-- Navigation bar --}}
    <div class="container-fluid fixed-top">
        <div class="navbar fixed-top bg-dark-subtle border-bottom border-primary" id="navbarNav">
            <a class="navbar-brand" href="/"><img height="40" src="/pictures/icon.png"/></a>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/flights/search">Flight Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reservations/book">Book Flights</a>
                </li>
                {{#if userId}}
                    {{#if isAdmin}}
                        <li class="nav-item">
                            <a class="nav-link" href="/reservations/list">Reservation Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/flights">Flight Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile/">User Management</a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/reservations/list">My Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/profile/">Profile</a>
                        </li>
                    {{/if}}
                    <li class="nav-item">
                        <a class="nav-link text-danger fw-bold" href="/profile/logout">Logout</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile/login">Login</a>
                    </li>
                {{/if}}
                <li class="nav-item">
                    <button class="btn"><i id="toggleDark" class="bi bi-sun-fill"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="card p-4 shadow-sm mt-3">
        <form action="/profile/update/{{user._id}}" method="POST">
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" name="firstname" value="{{user.firstname}}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" name="lastname" value="{{user.lastname}}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" value="{{user.email}}" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" name="password" class="form-control" placeholder="Leave blank to keep current password">
            </div>
            <button type="submit" class="btn btn-primary mt-2 w-100">Save Changes</button>
        </form>
        <form action="/profile/delete/{{user._id}}" method="POST">
            <button type="submit" class="btn btn-danger mt-2 w-100">Delete Account</button>
        </form>
        <a href="/profile/" class="btn btn-secondary mt-2 w-100">Back</a>
    </div>
</div>