<div class="container mt-5 pt-5">
    <h2>User Management</h2>

    {{!-- Navigation bar --}}
    <div class="container-fluid fixed-top">
        <div class="navbar fixed-top bg-dark-subtle border-bottom border-primary" id="navbarNav">
            <a class="navbar-brand" href="/"><img height="40" src="/pictures/icon.png"/></a>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/search?userId={{userId}}">Flight Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/book?userId={{userId}}">Book Flights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reservations?userId={{userId}}">My Reservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/profile?userId={{userId}}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger fw-bold" href="/logout?userId={{userId}}">Logout</a>
                </li>
                <li class="nav-item">
                    <button class="btn"><i id="toggleDark" class="bi bi-sun-fill"></i></button>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th style="width: 150px;">Actions</th>
            </tr>
        </thead>

        <tbody>
            {{#each users}}
            <tr>
                <td>{{firstname}} {{lastname}}</td>
                <td>{{email}}</td>
                <td>
                    <a href="/profile/edit/{{_id}}?userId={{../userId}}" class="btn btn-primary btn-sm">Edit</a>

                    <form action="/profile/delete/{{_id}}?userId={{../userId}}" method="POST" style="display:inline;">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
