{{!-- Navigation bar --}}
<div class="container-fluid fixed-top">
    <div class="navbar fixed-top bg-dark-subtle border-bottom border-primary" id="navbarNav">
        <a class="navbar-brand" href="/"><img height="40" src="/pictures/icon.png"/></a>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/flights">Flight Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Admin">User Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger fw-bold" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <button class="btn"><i id="toggleDark" class="bi bi-sun-fill"></i></button>
            </li>
        </ul>
    </div>
</div>

{{!-- Page header --}}
<div class="container text-center pt-3 mt-5">
    {{!-- Form Message --}}
    {{#equals status "added"}}
        <div class="form-msg alert alert-success alert-dismissible fade show w-50 mx-auto text-center" role="alert">
            <i class="bi bi-check-circle"></i> Flight added successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {{else}}
        {{#equals status "updated"}}
        <div class="form-msg alert alert-success alert-dismissible fade show w-50 mx-auto text-center" role="alert">
            <i class="bi bi-check-circle"></i> Flight updated successfully!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{else}}
            {{#equals status "deleted"}}
            <div class="form-msg alert alert-success alert-dismissible fade show w-50 mx-auto text-center" role="alert">
                <i class="bi bi-check-circle"></i> Flight deleted successfully!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {{else}}
                {{#equals status "error"}}
                <div class="form-msg alert alert-danger alert-dismissible fade show w-50 mx-auto text-center" role="alert">
                    <i class="bi bi-exclamation-triangle"></i> Error. Please try again.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/equals}}
            {{/equals}}
        {{/equals}}
    {{/equals}}
    <h1 id="title" class="display-5 text-primary mt-5">Flight Management</h1>
    <p class="lead">Create, update, or delete flight information</p>
</div>

<div class="container-fluid my-4 w-75">
    <div class="card bg-dark-subtle border border-primary shadow-lg p-4">
        <form class="text-start" action="/add-flights" method="POST">
            <div class="row mb-3">
                <h3 class="text-primary-emphasis display-6 text-center mb-3">Add New Flight</h3>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Flight Number</label>
                    <input type="text" class="form-control" placeholder="e.g. PR 102" name="flightNo">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Airline</label>
                    <input type="text" class="form-control" placeholder="e.g. Philippine Airlines" name="airline">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Origin</label>
                    <input type="text" class="form-control" placeholder="e.g. Manila (MNL)" name="origin">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Destination</label>
                    <input type="text" class="form-control" placeholder="e.g. Cebu (CEB)" name="destination">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label class="form-label">Departure Day | Time</label>
                    <div class="input-group">
                        <button id="depDay" class="btn btn-outline-secondary dropdown-toggle w-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Day</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item depDay" href="#">Sunday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Monday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Tuesday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Wednesday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Thursday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Friday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Saturday</a></li>
                        </ul>
                        <input type="time" class="form-control" name="departureTime" id="depTime">
                    </div>
                </div>
                <input type="hidden" name="departureDay" id="departureDay">
                <div class="col-3">
                    <label class="form-label">Arrival Day | Time</label>
                    <div class="input-group">
                        <button id="arrDay" class="btn btn-outline-secondary dropdown-toggle w-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">Select Day</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item arrDay" href="#">Sunday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Monday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Tuesday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Wednesday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Thursday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Friday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Saturday</a></li>
                        </ul>
                        <input type="time" class="form-control" name="arrivalTime" id="arrTime">
                    </div>
                </div>
                <input type="hidden" name="arrivalDay" id="arrivalDay">
                <div class="col-md-4 w-50">
                    <label class="form-label">Base Price</label>
                    <div class="input-group">
                        <span class="input-group-text">₱</span>
                        <input type="number" class="form-control" placeholder="e.g. 3500" name="price">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                <label class="form-label">Aircraft Type</label>
                <input type="text" class="form-control" placeholder="e.g. Airbus A320" name="aircraftType">
                </div>
                <div class="col-md-6">
                <label class="form-label">Seat Capacity</label>
                <input type="number" class="form-control" placeholder="e.g. 180" name="seatCap">
                </div>
            </div>

            <div class="text-end mt-4">
                <button id="submit-form" type="submit" class="btn btn-outline-light me-2"><i class="bi bi-plus-circle"></i> Create Flight</button>
            </div>
        </form>
    </div>
</div>

{{!-- Flight List --}}
<div id="flightList" class="container-fluid mt-3">
    <h2 class="text-primary text-center display-6 mb-3">All Flights</h2>
    {{#if flights.length}}
    <div class="table-responsive bg-dark-subtle border border-primary rounded-4 shadow-lg p-4">
        <table class="table table-hover text-center lead align-middle table-borderless mb-0">
            <thead class="table-info opacity-75 text-dark rounded-top">
                <tr>
                    <th class="p-2">Flight No.</th>
                    <th class="p-2">Airline</th>
                    <th class="p-2">Origin</th>
                    <th class="p-2">Destination</th>
                    <th class="p-2">Departure</th>
                    <th class="p-2">Arrival</th>
                    <th class="p-2">Base Price</th>
                    <th class="p-2">Aircraft</th>
                    <th class="p-2">Seats</th>
                    <th class="p-2 w-auto text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each flights}}
                <tr class="border-bottom border-secondary">
                    <td class="p-2">{{this.flightNo}}</td>
                    <td class="p-2">{{this.airline}}</td>
                    <td class="p-2">{{this.origin}}</td>
                    <td class="p-2">{{this.destination}}</td>
                    <td class="p-2">{{this.departureDay}} | {{this.departureTime}}</td>
                    <td class="p-2">{{this.arrivalDay}} | {{this.arrivalTime}}</td>
                    <td class="p-2">₱{{this.price}}</td>
                    <td class="p-2">{{this.aircraftType}}</td>
                    <td class="p-2">{{this.seatCap}}</td>
                    <td class="p-2 w-auto text-center">
                        <div class="d-flex justify-content-center gap-3" role="group" aria-label="Actions">
                            <form action="/flights/edit/{{_id}}" method="GET" class="m-0">
                                <button type="submit" class="btn btn-primary align-items-center px-3">
                                    <i class="bi bi-pencil-square"></i>
                                    <span>Edit</span>
                                </button>
                            </form>
                            <form action="/flights/delete/{{_id}}" method="POST" class="m-0">
                                <button type="submit" class="btn btn-danger align-items-center px-3">
                                    <i class="bi bi-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{else}}
        <p class="text-center lead text-muted">No flights found.</p>
    {{/if}}
    </div>
</div>
<br>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        const msg = $('.form-msg');
        const title = $('#title');
        const flightList = $('#flight-list');
        if (msg.length) {
            title.removeClass('mt-5');
            setTimeout(() => {msg.alert('close'); }, 3000); // hides after 3 seconds

            msg.on('closed.bs.alert', function () {
                title.addClass('mt-5');
            });
        } else {
            $('#title').addClass('mt-5');
        }

        // Handle departure and arrival day dropdowns in flight management
        const depDay = $('#departureDay').val();
        const arrDay = $('#arrivalDay').val();

        if (depDay) {
            $('#editDepDay').text(depDay);
            $('#editDepartureDay').val(depDay);
        }

        if (arrDay) {
            $('#editArrDay').text(arrDay);
            $('#editArrDay').val(arrDay);
        } 
        $('.depDay').on('click', function(){
                let choice = $(this).text().trim();
                $('#depDay').text(choice);
                $('#editDepDay').text(choice);
                $('#departureDay').val(choice);
                $('#editDepartureDay').val(choice);
        });

        $('.arrDay').on('click', function(){
                let choice = $(this).text().trim();
                $('#arrDay').text(choice);
                $('#editArrDay').text(choice);
                $('#arrivalDay').val(choice);
                $('#editArrivalDay').val(choice);
        });
    });
</script>