<!--Navigation Bar-->
    <div class="container-fluid fixed-top">
    <div class="navbar fixed-top bg-dark-subtle border-bottom border-primary" id="navbarNav">
        <a class="navbar-brand" href="/"><img height="40" src="/pictures/icon.png"/></a>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/search">Flight Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/book">Book Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reservations">My Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger fw-bold" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <button class="btn"><i id="toggleDark" class="bi bi-sun-fill"></i></button>
            </li>
        </ul>
    </div>
</div>

    <!--Title-->
    <div class="container-fluid pt-5 mt-5 text-center">
        <h1 class="display-5 text-center text-primary">Flight Search</h1>
        <span class="lead">Nothing beats a </span><span class="lead text-primary">jetBlue </span><span class="lead">holiday</span><br>
        <img class="img-fluid transform-middle-y z-2" width="1100" src="pictures/jbu-plane1.png" alt="Plane Icon"><br><br>
    </div>
    <!--Form Container-->
    <div class="d-flex justify-content-center px-5 mx-5" id="formContainer">
        <div class="position-fluid p-3 shadow-lg rounded-3 d-flex justify-content-center bg-dark-subtle border border-primary" id="form">
            <!--Search Flights Form-->
            <form class="align-items-center bg-dark-subtle" id="searchForm">
                <div class="row align-items-start g-2">
                    <input type="hidden" name="userId" value="{{userId}}">
                    <!--Passenger Count-->
                    <div class="col-md-auto">
                        <div class="input-group flex-grow-0">
                            <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                            <input type="number" class="form-control w-auto flex-grow-0" id="passcount" value="1" placeholder="1" min="1" max="30">
                        </div>
                    </div>
                    <!--Origin-->
                    <div class="col-md-auto">
                        <div class="input-group align-items-center">
                            <span class="input-group-text"><i class="bi bi-house-door-fill"></i></span>
                            <button type="button" class="btn btn-outline-secondary me-2 dropdown-toggle" id="origin" data-bs-toggle="dropdown">Where from? </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item origin" href="#">Manila (MNL) </a></li>
                                <li><a class="dropdown-item origin" href="#">Cebu (CEB) </a></li>
                                <li><a class="dropdown-item origin" href="#">Davao (DVO) </a></li>
                                <li><a class="dropdown-item origin" href="#">Iloilo (ILO) </a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item origin" href="#">Tokyo (NRT) </a></li>
                                <li><a class="dropdown-item origin" href="#">Seoul (ICN) </a></li>
                                <li><a class="dropdown-item origin" href="#">London (LHR) </a></li>
                                <li><a class="dropdown-item origin" href="#">Paris (CDG) </a></li>
                                <li><a class="dropdown-item origin" href="#">Los Angeles (LAX) </a></li>
                                <li><a class="dropdown-item origin" href="#">Singapore (SIN) </a></li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="origin" id="searchOrig">
                    <!--Swap Button-->
                    <div class="col-md-auto">
                        <button id="swap" type="button" class="btn btn-primary" data-bs-theme="dark"><i class="bi bi-arrow-left-right"></i></button>
                    </div>
                    <!--Destination-->
                    <div class="col-md-auto">
                        <div class="input-group w-auto align-items-center">
                            <span class="input-group-text"><i class="bi bi-geo-alt-fill"></i></span>
                            <button type="button" class="btn btn-outline-secondary me-2 dropdown-toggle" id="destination" data-bs-toggle="dropdown">Where to? </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item destination" href="#">Manila (MNL) </a></li>
                                <li><a class="dropdown-item destination" href="#">Cebu (CEB) </a></li>
                                <li><a class="dropdown-item destination" href="#">Davao (DVO) </a></li>
                                <li><a class="dropdown-item destination" href="#">Iloilo (ILO) </a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item destination" href="#">Tokyo (NRT) </a></li>
                                <li><a class="dropdown-item destination" href="#">Seoul (ICN) </a></li>
                                <li><a class="dropdown-item destination" href="#">London (LHR) </a></li>
                                <li><a class="dropdown-item destination" href="#">Paris (CDG) </a></li>
                                <li><a class="dropdown-item destination" href="#">Los Angeles (LAX) </a></li>
                                <li><a class="dropdown-item destination" href="#">Singapore (SIN) </a></li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" name="destination" id="searchDest">
                    <!--Depart Date-->
                    <div class="col input-group"> 
                        <span class="input-group-text">Depart:</span>
                        <input type="date" class="form-control" name="depdate" id="depdate">
                    </div>
                    <!--Return Date-->
                    <div class="col input-group">
                        <span class="input-group-text">Return:</span>
                        <input type="date" class="form-control" name="retdate" id="retdate">
                    </div>
                    <!--Search Button-->
                    <div class="col-md-auto">
                        <button id="search" type="submit" class="btn btn-primary">Search Flights</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--Modal (Form Warnings)-->
    <div class="modal fade" id="formModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-warning">Warning</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body"> 
                    <p id="errorText"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    {{#if formsubmitted}}
        <p class="display-6 text-center" id="resultsText">Search Results</p>
        <!--Search Container-->
        {{#if showResults}}
            <div id="searchCont" class=" bg-dark-subtle border border-primary rounded-3 w-auto p-3 mx-5 shadow-lg">
                <!--Results Table-->
                {{#if flights.length}}
                    <!-- Table when flights exist -->
                    <div class="table-responsive">
                        <table class="table table-hover align-middle text-center">
                            <thead class="lead table-info opacity-75 text-light text-center" id="resultsTable">
                                <tr>
                                    <th>Airline</th>
                                    <th>Flight Number</th>
                                    <th>Departure Time</th>
                                    <th>Arrival Time</th>
                                    <th>Base Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <p class="lead text-center text-primary-emphasis">Select your departing flight</p>
                            <tbody id="tableBody" class="lead">
                                {{#each flights}}
                                <tr>
                                    <td>{{airline}}</td>
                                    <td>{{flightNo}}</td>
                                    <td>{{departureTime}}</td>
                                    <td>{{arrivalTime}}</td>
                                    <td>₱{{price}}</td>
                                    <td>
                                        <button class="btn btn-primary select-btn" data-type="depart" 
                                            data-origin="{{origin}}" data-destination="{{destination}}" data-depart="{{../dDate}}" data-return="{{../rDate}}">Select</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <hr class="text-success-emphasis">
                    {{#if returnFlights.length}}
                        <!-- Table when flights exist -->
                        <div class="table-responsive">
                            <table class="table table-hover align-middle text-center">
                                <thead class="lead table-info opacity-75 text-light text-center" id="resultsTable">
                                    <tr>
                                        <th>Airline</th>
                                        <th>Flight Number</th>
                                        <th>Departure Time</th>
                                        <th>Arrival Time</th>
                                        <th>Base Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <p class="lead text-center text-primary-emphasis">Select your returning flight</p>
                                <tbody id="tableBody" class="lead">
                                    {{#each returnFlights}}
                                    <tr>
                                        <td>{{airline}}</td>
                                        <td>{{flightNo}}</td>
                                        <td>{{departureTime}}</td>
                                        <td>{{arrivalTime}}</td>
                                        <td>₱{{price}}</td>
                                        <td>
                                            <button class="btn btn-primary select-btn" data-type="return" 
                                                data-origin="{{destination}}" data-destination="{{origin}}" data-depart="{{../dDate}}" data-return="{{../rDate}}">Select</button>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    {{else}}
                        {{#if rDate}}
                            {{#unless returnFlights.length}}
                                <p id="noResults" class="lead text-center text-muted">No returning flights found for {{rDate}}</p>
                            {{/unless}}
                        {{/if}}
                    {{/if}}
                {{else}}
                    {{#unless flights.length}}
                        <p id="noResults" class="lead text-center text-muted">No departing flights found for {{dDate}}</p>
                    {{/unless}}
                {{/if}}
            </div>
        {{/if}}
    {{/if}}
    <!--Offcanvas Summary-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="summaryOffcanvas" aria-labelledby="summaryOffcanvasLabel">
        <div class="offcanvas-header">
            <h5 class="text-primary offcanvas-title" id="summaryOffcanvasLabel">Selected Flight Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div id="summaryBody">
                <!--Summary handled by JQuery-->
            </div>
        </div>
    </div>
    <br>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function() {
            // Set minimum dates
            const today = new Date();
            const year = today.getFullYear();
            const month = String(today.getMonth() + 1).padStart(2, '0');
            const day = String(today.getDate()).padStart(2, '0');
            const minDate = `${year}-${month}-${day}`;
            $('#depdate').attr('min', minDate);
            $('#depdate').on('change', function(){
                let depdate = $(this).val();
                $('#retdate').attr('min', depdate); 
            });
            
            // Swap Button 
            $('#swap').click(function() {
                // Get origin and destination values
                var origin = $('#origin').text().trim();            
                var destination = $('#destination').text().trim();  

                // Swap
                $('#origin').text(destination);  
                $('#destination').text(origin); 

                const origVal = $('#searchOrig').val();
                $('#searchOrig').val($('#searchDest').val());
                $('#searchDest').val(origVal); 
            });

            // Origin and Destination dropdowns
            $('.origin').on('click', function(){
                const choice = $(this).text().trim();
                $('#origin').text(choice);
                $('#searchOrig').val(choice);
            });
            $('.destination').on('click', function(){
                const choice = $(this).text().trim();
                $('#destination').text(choice);
                $('#searchDest').val(choice);
            });
            // Check form inputs
            $('#search').click(function(event) {
                // Get input values
                let passcount = $('#passcount').val().trim();
                let origin = $('#origin').text().toLowerCase().trim();
                let destination = $('#destination').text().toLowerCase().trim();
                let depdate = new Date($('#depdate').val());
                let retdate = new Date($('#retdate').val());
                
                // Error strings
                const fillError = `Please fill in all fields except return date.`;
                const locError = `Origin and Destination cannot be the same`;
                
                // Check required fields
                if (origin === `Where from?` || destination === `Where to?` || isNaN(depdate.getTime())) {     
                    event.preventDefault();
                    $("#errorText").html(fillError);
                    let formModal = new bootstrap.Modal(document.getElementById('formModal'));
                    formModal.show();
                } 
                // Check same location
                else if (origin && destination && (origin == destination)){       
                    event.preventDefault();
                    $("#errorText").html(locError);
                    let formModal = new bootstrap.Modal(document.getElementById('formModal'));
                    formModal.show();
                } 
                // Success
                else {      
                    $("#tableBody").empty();
                    $('#resultsText').fadeIn(1000);
                    $('#searchCont').fadeIn(1000);
                }
            });

            // Keep selected flights
            let selectedFlights = { depart: null, return: null };
            const userId = "{{userId}}";

            function getFlightDetails(row) {
                return {
                    airline: row.find('td:eq(0)').text(),
                    flightNo: row.find('td:eq(1)').text(),
                    depart: row.find('td:eq(2)').text(),
                    arrive: row.find('td:eq(3)').text(),
                    price: row.find('td:eq(4)').text()
                };
            }

            function renderSummary(depart, ret, origin, destination, depdate, retdate) {
                let summaryHTML = '';

                if (depart) {
                    summaryHTML += `
                        <h5>Departing Flight | <small>${origin} 
                            <i class="text-primary bi bi-airplane-fill"></i> ${destination} on ${depdate}</small></h5>
                        <hr>
                        <p><strong class="text-primary">Airline:</strong> ${depart.airline}</p>
                        <p><strong class="text-primary">Flight Number:</strong> ${depart.flightNo}</p>
                        <p><strong class="text-primary">Departure Time:</strong> ${depart.depart}</p>
                        <p><strong class="text-primary">Arrival Time:</strong> ${depart.arrive}</p>
                        <p><strong class="text-primary">Base Price:</strong> ${depart.price}</p>
                        <hr>
                    `;
                }

                if (ret) {
                    summaryHTML += `
                        <h5>Returning Flight | <small>${destination} 
                            <i class="text-primary bi bi-airplane-fill"></i> ${origin} on ${retdate}</small></h5>
                        <hr>
                        <p><strong class="text-primary">Airline:</strong> ${ret.airline}</p>
                        <p><strong class="text-primary">Flight Number:</strong> ${ret.flightNo}</p>
                        <p><strong class="text-primary">Departure Time:</strong> ${ret.depart}</p>
                        <p><strong class="text-primary">Arrival Time:</strong> ${ret.arrive}</p>
                        <p><strong class="text-primary">Base Price:</strong> ${ret.price}</p>
                        <hr>
                    `;
                }

                const queryParams = new URLSearchParams();
                const passcount = $('#passcount').val()?.trim() || 1;
                console.log('passcount:', passcount);

                if (depart) queryParams.append('depart', depart.flightNo);
                if (ret) queryParams.append('return', ret.flightNo);
                queryParams.append('passcount', passcount);

                console.log(queryParams.toString());

                summaryHTML += `<a href="/book?${queryParams.toString()}&userId=${userId}" class="btn btn-success w-100">Proceed to Booking</a>`;
                $('#summaryBody').html(summaryHTML);
            }

            $(document).on('click', '.select-btn', function() {
                const $btn = $(this);
                const isSelected = $btn.text() === 'Selected';
                const type = $btn.data('type');
                const row = $btn.closest('tr');
                const flight = getFlightDetails(row);

                const origin = $btn.data('origin');
                const destination = $btn.data('destination');
                const depdate = $btn.data('depart');
                const retdate = $btn.data('return');

                // Toggle button styles
                $(`.select-btn[data-type="${type}"]`)
                    .removeClass('btn-outline-success')
                    .addClass('btn-primary')
                    .text('Select');

                if (isSelected) {
                    $btn.removeClass('btn-outline-success').addClass('btn-primary').text('Select');
                    const offCanvas = bootstrap.Offcanvas.getInstance('#summaryOffcanvas');
                    if (offCanvas) offCanvas.hide();
                    selectedFlights[type] = null;
                    return;
                }

                $btn.removeClass('btn-primary').addClass('btn-outline-success').text('Selected');
                selectedFlights[type] = flight;

                // Update summary
                renderSummary(selectedFlights.depart, selectedFlights.return, origin, destination, depdate, retdate);

                // Show offcanvas
                const offcanvas = new bootstrap.Offcanvas('#summaryOffcanvas');
                offcanvas.show();
            });
        });
    </script>