<div class="text-center">
    <h2 class="display-5 mb-4">Edit Flight {{flight.flightNo}} Details</h2>
</div>
<div class="container-fluid my-4">
    <div class="card bg-dark-subtle border border-primary shadow-lg p-4">
        <form class="text-start" action="/flights/edit/{{flight._id}}" method="POST">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Flight Number</label>
                    <input type="text" class="form-control" name="flightNo" value="{{flight.flightNo}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Airline</label>
                    <input type="text" class="form-control" name="airline" value="{{flight.airline}}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Origin</label>
                    <input type="text" class="form-control" name="origin" value="{{flight.origin}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Destination</label>
                    <input type="text" class="form-control" name="destination" value="{{flight.destination}}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-3">
                    <label class="form-label">Departure Day | Time</label>
                    <div class="input-group">
                        <button id="editDepDay" class="btn btn-outline-secondary dropdown-toggle w-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{flight.departureDay}}</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item depDay" href="#">Sunday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Monday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Tuesday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Wednesday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Thursday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Friday</a></li>
                            <li><a class="dropdown-item depDay" href="#">Saturday</a></li>
                        </ul>
                        <input type="time" class="form-control" name="departureTime" id="editDepTime" value="{{flight.departureTime}}">
                    </div>
                </div>
                <input type="hidden" name="departureDay" id="departureDay" value="{{flight.departureDay}}">
                <div class="col-3">
                    <label class="form-label">Arrival Day | Time</label>
                    <div class="input-group">
                        <button id="editArrDay" class="btn btn-outline-secondary dropdown-toggle w-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{flight.arrivalDay}}</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item arrDay" href="#">Sunday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Monday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Tuesday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Wednesday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Thursday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Friday</a></li>
                            <li><a class="dropdown-item arrDay" href="#">Saturday</a></li>
                        </ul>
                        <input type="time" class="form-control" name="arrivalTime" id="editArrTime" value="{{flight.arrivalTime}}">
                    </div>
                </div>
                <input type="hidden" name="arrivalDay" id="editArrivalDay" value="{{flight.arrivalDay}}">
                <div class="col-md-4 w-50">
                    <label class="form-label">Base Price</label>
                    <div class="input-group">
                        <span class="input-group-text">₱</span>
                        <input type="number" class="form-control" placeholder="e.g. 3500" name="price" value="{{flight.price}}">
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Aircraft Type</label>
                    <input type="text" class="form-control" name="aircraftType" value="{{flight.aircraftType}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Seat Capacity</label>
                    <input type="number" class="form-control" name="seatCap" value="{{flight.seatCap}}">
                </div>
            </div>

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-outline-light me-2">
                    <i class="bi bi-save"></i> Save Changes
                </button>
                <a href="/flights" class="btn btn-outline-danger">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>