<div class="text-center">
    <h2 class="display-5 mb-4">Edit Flight {{flight.flightNo}} Details</h2>
</div>
<div class="container-fluid my-4">
    <div class="card bg-dark-subtle border border-primary shadow-lg p-4">
        <form class="text-start" action="/flights/edit/{{flight._id}}?_method=PATCH" method="POST">
            <input type="hidden" name="_method" value="PATCH">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Flight Number</label>
                    <input type="text" class="form-control" name="flightNo" value="{{flight.flightNo}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Airline</label>
                    <input type="text" class="form-control" name="airline" value="{{flight.airline}}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Origin</label>
                    <input type="text" class="form-control" name="origin" value="{{flight.origin}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Airline</label>
                    <input type="text" class="form-control" name="destination" value="{{flight.destination}}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Departure Time</label>
                    <input type="datetime-local" class="form-control" name="departureTime" value="{{flight.departureTimeFormatted}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Arrival Time</label>
                    <input type="datetime-local" class="form-control" name="arrivalTime" value="{{flight.arrivalTimeFormatted}}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Aircraft Type</label>
                    <input type="text" class="form-control" name="aircraftType" value="{{flight.aircraftType}}">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Seat Capacity</label>
                    <input type="number" class="form-control" name="seatCap" value="{{flight.seatCap}}">
                </div>
            </div>

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-outline-light me-2">
                    <i class="bi bi-save"></i> Save Changes
                </button>
                <a href="/flights" class="btn btn-outline-danger">
                    <i class="bi bi-x-circle"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>